<%
  obj = obj || @objects
  edit = false if edit.nil?
  delete = false if delete.nil?
  view = false if view.nil?
  validator = Proc.new { |o| true } if validator.nil?
  delete_message = delete_message || nil
%>
<table class="table table-sorter table-striped table-hover model-table">
  <thead>
    <tr>
      <% obj.model.send(list).each do |parameter| %>
        <th class="capitlized">
          <%= sortable parameter %>
        </th>
      <% end %>
      <% if edit or view or delete or !custom_button.nil?%>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="generic-list">
    <% obj.each do |object| %>
      <tr data-id="<%= object.id %>" >
        <% obj.send(list).each do |parameter| %>
          <td><%= object.send(parameter) %></td>
        <% end %>
        <% if edit or view or delete or !custom_button.nil?%><td><% end %>
          <% if delete %>
            <%= delete_button(object, delete_message) %>
          <% end %>
          <% if edit %>
            <%= edit_button(object) %>
          <% end %>
          <% if view %>
            <%= view_button(object) %>
          <% end %>
          <% if !custom_button.nil? %>
            <%= custom_button(object, custom_button) if validator.call(object) %>
          <% end %>
        <% if edit or view or delete or !custom_button.nil?%></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if obj.respond_to?(:total_pages) %>
  <div class="digg_pagination">
    <%= will_paginate obj, :container => true %>
    <div class="page_info">
      <%= page_entries_info obj %>
    </div>
  </div>
<% end %>
