<header id="topbar" class="alt">
  <div class="topbar-left">
    <ol class="breadcrumb">
      <li class="crumb-active">
        <h3><%= object_class.model_name.human( count: 2 ).capitalize %></h3>
      </li>
    </ol>
  </div>
  <div class="topbar-right">
    <div class="ib topbar-dropdown">
      <%= link_to 'resolve_excel_path', class: 'btn btn-success' do %>
        <span class='fa fa-user-plus' aria-hidden='true'></span>
        <span class="capitalized">Title</span>
      <% end %>
    </div>
  </div>
</header>
