<%= topbar_dropmenu do %>
  <div class="col-xs-3 col-sm-3">
    <%= metro_link 'Button 1', 'path',
      'bg-primary', 'fa fa-github-alt' %>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= metro_link 'Button 2', 'path',
      'bg-warning', 'fa fa-github-square' %>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= metro_link 'Button 3', 'path',
      'edicion', 'fa fa-html5' %>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= metro_link 'Button 4', 'path',
      'bg-system', 'fa fa-gamepad' %>
  </div>
<% end %>
