<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App</title>
  <%%= csrf_meta_tags %>

  <%%= stylesheet_link_tag 'application', media: 'all' %>

  <%%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144' %>
  <%%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114' %>
  <%%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72' %>
  <%%= favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
  <%%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon' %>

  <%%= javascript_include_tag 'application' %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
  <![endif]-->
</head>

<%%= body 'charts-highcharts-page sb-l-o sb-r-c onload-check' do %>

  <div id="main">

    <%%= render '/layouts/header' %>
    <%%= render '/layouts/sidebar' %>

    <section id="content_wrapper">

      <%%= render '/layouts/topbar_dropdown' %>
      <%%= render '/layouts/topbar' %>

      <section id="content" class="animated fadeIn">

        <%%= yield %>

      </section>
    </section>

    <%%= render '/layouts/sidebar/right' %>

  </div>

<%% end %>

</html>
