<%%- model_class = <%= resource_name.classify %> -%>
<div class="page-header">
  <h1><%%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table footable table-striped">
  <thead>
    <tr>
      <th><%%= model_class.human_attribute_name(:id) %></th>
      <%- columns.each do |column| -%>
      <th><%%= model_class.human_attribute_name(:<%= column.name %>) %></th>
      <%- end -%>
      <th><%%= model_class.human_attribute_name(:created_at) %></th>
      <th><%%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| %>
      <tr>
        <td><%%= link_to <%= resource_name %>.id, <%= singular_controller_routing_path %>_path(<%= resource_name %>) %></td>
        <%- columns.each do |column| -%>
        <td><%%= <%= resource_name %>.<%= column.name %> %></td>
        <%- end -%>
        <td><%%=l <%= resource_name %>.created_at %></td>
        <td>
          <%%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_<%= singular_controller_routing_path %>_path(<%= resource_name %>), :class => 'btn btn-default btn-xs' %>
          <%%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      <%= singular_controller_routing_path %>_path(<%= resource_name %>),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>

<%%= link_to t('.new', :default => t("helpers.links.new")),
            new_<%= singular_controller_routing_path %>_path,
            :class => 'btn btn-primary' %>
