<div class="sidebar-widget search-widget hidden">
  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>
    <input type="text" id="sidebar-search" class="form-control" placeholder="Search...">
  </div>
</div>
